
## <summary>policy for wagerr</summary>


########################################
## <summary>
##	Transition to wagerr.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`wagerr_domtrans',`
	gen_require(`
		type wagerr_t, wagerr_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, wagerr_exec_t, wagerr_t)
')


########################################
## <summary>
##	Execute wagerr server in the wagerr domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`wagerr_initrc_domtrans',`
	gen_require(`
		type wagerr_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, wagerr_initrc_exec_t)
')


########################################
## <summary>
##	Search wagerr lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`wagerr_search_lib',`
	gen_require(`
		type wagerr_var_lib_t;
	')

	allow $1 wagerr_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read wagerr lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`wagerr_read_lib_files',`
	gen_require(`
		type wagerr_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, wagerr_var_lib_t, wagerr_var_lib_t)
')

########################################
## <summary>
##	Manage wagerr lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`wagerr_manage_lib_files',`
	gen_require(`
		type wagerr_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, wagerr_var_lib_t, wagerr_var_lib_t)
')

########################################
## <summary>
##	Manage wagerr lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`wagerr_manage_lib_dirs',`
	gen_require(`
		type wagerr_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, wagerr_var_lib_t, wagerr_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	a wagerr environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`wagerr_admin',`
	gen_require(`
		type wagerr_t;
		type wagerr_initrc_exec_t;
		type wagerr_var_lib_t;
	')

	allow $1 wagerr_t:process { ptrace signal_perms };
	ps_process_pattern($1, wagerr_t)

	wagerr_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 wagerr_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, wagerr_var_lib_t)

')

