# http://standards.freedesktop.org/desktop-entry-spec/desktop-entry-spec-1.0.html

[Desktop Entry]
Encoding=UTF-8
Name=Wagerr Qt
Comment=Wagerr Digital Currency QT test network
GenericName=Wagerr Digital Currency QT client testnet network
Exec=wagerr.qt-testnet %u
Terminal=false
Type=Application
Icon=${SNAP}/wagerr-qt_testnet.png
MimeType=x-scheme-handler/wagerr;
Categories=X-Office;X-Finance;
Keywords=internet;wagerr;zwgr;wgr;core;wallet;qt;testnet;snap;launchpad;crypto;digital;currency;coin;token;zerocoin;
Version=3.0.99