# http://standards.freedesktop.org/desktop-entry-spec/desktop-entry-spec-1.0.html

[Desktop Entry]
Encoding=UTF-8
Name=Wagerr Electron
Comment=Wagerr Digital Currency Electron regression network
GenericName=Wagerr Digital Currency Electron client regtest network
Exec=wagerr.electron-regtest %u
Terminal=false
Type=Application
Icon=${SNAP}/wagerr-electron-app_regtest.png
MimeType=x-scheme-handler/wagerr;
Categories=X-Office;X-Finance;
Keywords=internet;wagerr;zwgr;wgr;core;wallet;electron;regtest;snap;launchpad;crypto;digital;currency;coin;token;zerocoin;
Version=3.0.99